body,
html {
    margin: 0;
    padding: 0;

}


header {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background-color: #81D586;
}


.logo-judul {
    width: 20%;
    padding: 10px;
    height: 30px;
    float: left;
}

.input-search {
    padding: 10px;
    background-color: #ffffff;
    width: 50%;
    margin: 5px 20px 5px 0;
    height: auto;
    float: left;
    border: 1px solid #0000;
}

.input-search i {
    width: 7%;
    float: left;
}

.input-search input {
    width: 90%;
    border: none;
}

.input-search input:focus {
    outline: none;
}

.logo-belanja {
    width: 20%;
    height: 30px;
    float: left;
}

.logo-belanja img {
    width: 20%;
    padding: 10px 0 0 0;
}



.menu {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 10px 0 10px 0;
    height: 40px;
    background-color: #ffffff;
}

.menunav {
    float: right;
    width: 80%;
}

.logonav {
    float: left;
    width: 20%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li a {
    display: block;
    background-color: #81D586;
    color: black;
    text-decoration: none;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    padding: 5px 20px;
    border-left: 2px solid #fff;
    float: left;

}

li a:hover {
    background-color: aqua;
    color: blue;
}


.promo {
    width: 100%;
    height: 30px;
    background-color: #81D586;
    padding: 10px 30px 20px 30px;
}

.promo-detil {
    float: left;
    width: 20%;
    border-radius: 450px;
    border: 1px solid blue;
    background-color: #ffffff;
    height: 20px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.promo-detil:hover {
    background-color: yellow;

}

main {
    width: 100%;
    height: 500px;
    background-color: yellow;
}

content {
    width: 100%;
    height: auto;
    float: left;
    background-color: blue;

}

.info-product {
    width: 100%;
    height: 70px;
    background-color: bisque;
}

.container-product {
    background-color: darkblue;
    width: 90%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.product {
    text-align: center;
    background-color: aquamarine;
    width: 30%;
    float: left;
    margin: 0 auto;
    padding: 10px;
    height: 250px;
}

.row-product {
    background-color: coral;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 270px;
    padding: 10px;
}

footer {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: aqua;
    text-align: center;

}

.footer-text {
    padding: 10px;
    font-size: 20px;
    background-color: #61b15a;
}